html, body,  map_canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}
 map_canvas {
    position: relative;
}

.jumbotron {
    height: 390px;
    width: auto;
    min-width: 225px;
    background-color: #FFFFFF;
}

.angular-google-map-container {
    height: 390px;
    width: auto;
}
.info-window{
    padding: 20px;
    /*border: 1px solid white;*/
    border-radius: 5px;
    width: 140px;
    margin-top: 15px;
    margin-left: -130px;
}
.info-window a{
    color: white;
    text-decoration: underline;
}
.info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 70px;
}
.green-info-window{
    color: black;
    background: rgba(0,255,0,0.5);
    box-shadow: 3px 3px 10px rgba(0,255,0,0.5);
}
.green-info-window:after{
    border-color: rgba(0,255,0,0.5) transparent;
}
.white-info-window{
    color: black;
    background: rgba(255,255,255,0.5);
    box-shadow: 3px 3px 10px rgba(255,255,255,0.5);
}
.white-info-window:after{
    border-color: rgba(255,255,255,0.5) transparent;
}
.black-info-window{
    color: white;
    background: rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.black-info-window:after{
    border-color: rgba(0,0,0,0.5) transparent;
}
.dark-red-info-window{
    color: green;
    background: rgba(155,0,0,0.5);
    box-shadow: 3px 3px 10px rgba(155,0,0,0.5);
}
.dark-red-info-window:after{
    border-color: rgba(155,0,0,0.5) transparent;
}
.red-info-window{
    color: green;
    background: rgba(255,0,0,0.5);
    box-shadow: 3px 3px 10px rgba(255,0,0,0.5);
}
.red-info-window:after{
    border-color: rgba(255,0,0,0.5) transparent;
}
.dark-blue-info-window{
    color: white;
    background: rgba(0,0,155,0.5);
    box-shadow: 3px 3px 10px rgba(0,0,155,0.5);
}
.dark-blue-info-window:after{
    border-color: rgba(0,0,155,0.5) transparent;
}
.blue-info-window{
    color: white;
    background: rgba(0,0,255,0.5);
    box-shadow: 3px 3px 10px rgba(0,0,255,0.5);
}
.blue-info-window:after{
    border-color: rgba(0,0,255,0.5) transparent;
}
