<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>熱點地圖</title>

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheet/index.css" rel="stylesheet">
    <link href="/angular-busy/angular-busy.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src='/angular-busy/angular-busy.js'></script>
    <script src='/lodash/lodash.min.js'></script>
    <script src='/angular-google-maps/angular-google-maps.js'></script>

    <script src="/esbs/bsmap.js"></script>
    <script src="/esbs/service.js"></script>
    <script src="/esbs/controller.js"></script>
    <script src="/esbs/gce.js"></script>
    <script>
        function init() {
            google.appengine.esbs.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="ESBS" ng-controller="MapController as esbs_controller">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-collapse collapse navbar-right">
                <li>
                    <form class="navbar-form">
                        <input type="text" placeholder="My Address" class="form-control" ng-model="map.address">
                        <button type="submit" class="btn btn-primary" ng-click="esbs_controller.search_address(map.address)">Search</button>
                    </form>
                </li>
                </ul>
            </div>
          </div>
      </nav>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <form class="navbar-form">
                    <button type="submit" class="btn btn-info" ng-click="esbs_controller.set_category('life')" data-target="#item-carousel" data-slide-to="0">生活安全及品質</button>
                    <button type="submit" class="btn btn-success" ng-click="esbs_controller.set_category('traffic_and_communication')" data-target="#item-carousel" data-slide-to="0">交通及通訊</button>
                </form>
            </div>
        </div>
    </nav>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <form class="navbar-form">
                    <button type="submit" class="btn btn-info btn-sm" ng-show="category=='life'" ng-click="esbs_controller.set_broker_system('women_and_children')" data-target="#item-carousel" data-slide-to="0">易發生婦幼犯罪被害地點</button>
                    <button type="submit" class="btn btn-info btn-sm" ng-show="category=='life'" ng-click="esbs_controller.set_broker_system('house')" data-target="#item-carousel" data-slide-to="0">住宅竊盜點位資訊</button>
                    <button type="submit" class="btn btn-info btn-sm" ng-show="category=='life'" ng-click="esbs_controller.set_broker_system('bike')" data-target="#item-carousel" data-slide-to="0">自行車竊盜點位資訊</button>
                    <button type="submit" class="btn btn-info btn-sm" ng-show="category=='life'" ng-click="esbs_controller.set_broker_system('car')" data-target="#item-carousel" data-slide-to="0">汽車竊盜點位資訊</button>
                    <button type="submit" class="btn btn-success btn-sm" ng-show="category=='traffic_and_communication'" ng-click="esbs_controller.set_broker_system('parking')" data-target="#item-carousel" data-slide-to="0">停車場</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row" cg-busy="search_promise">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div id="map_canvas">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control" events="map.events">
                    <ui-gmap-window ng-repeat="item in esbs_controller.items" show="true" coords="item.coords" isIconVisibleOnClick="false" options="map.info_window.options" ng-cloak>
                        <div>
                            <a ng-click="$root.sel_item({{item}})">
                                {{ item.name }}<br>
                            </a>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" ng-show="esbs_controller.target_item">
            <table class="table"><tbody>
                <tr ng-repeat="attribute in esbs_controller.target_item.attributes">
                    <td>{{ attribute.name }}</td>
                    <td>{{ attribute.value }}</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</body>
</html>